redis
eventlet
python-socketio==5.12.1
python-engineio==4.11.2
Flask-SocketIO==5.6.0
Flask-Cors
Flask
rq==1.16.2
rq-dashboard==0.6.1
gunicorn==23.0.0
click
sentry-sdk[flask]>=2.35.0
requests
prometheus-flask-exporter==0.20.3
prometheus-client
boto3
