<!doctype html>
<html>
<head>
    <title>Jamming bot v2.1.0</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no"/>    
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>

<body>
  
<div id="nodes"></div>

  <div id="debug">
    
    <code>
        | counter:<span id="counter"></span>
        | latency:<span id="latency"></span> 
        | <a href="http://docs.arthew0.online:32768/" target="_blank">v2.1.0</a> |
        
        <!-- {% if admin %} -->
        <button onclick="restart()">restart</button>
        <a href="/api/steps/">api<span id="api"></span></a>|
        <a href="/ctrl/">dashboard:<span id="dashboard"></span></a>|
        <a href="/queue/">queue:<span id="queue"></span></a>
        <!-- {% endif %} -->

    </code>

    <button onclick="simulate()">simulate</button>
    <button onclick="do_step()">step</button>
    <button onclick="stop()">stop</button>    
    <button onclick="start()">start</button>
    <button onclick="restart()">restart</button>
    <button onclick="do_add()" style="display:none">add</button>|
    <a href="/api/steps/">api<span id="api"></span></a>|
    <a href="/ctrl/">dashboard:<span id="dashboard"></span></a>|
    <a href="/queue/">queue:<span id="queue"></span></a>
    
  </div>

  <div id="log"></div>

    <span id='s1'>First</span>  
    <span id="log_url" class="text"></span>
    <div id="log_text" class="text"></div>
    <div id="log_phrases" class="text"></div>    
    <div id="log_sub" class="text"></div> 
    <div id="log_events" class="text"></div> 
    <div id="log_headers" class="text"></div>  
    <div id="log_urls" class="text"></div>  
    <div id="log_words" class="text"></div> 

  <span id='s2'>Second</span>

  <div class="errors"></div>

  <script src="/static/events.js"></script>
  <script src="/static/graph.js"></script>



</body>
</html>