<a class="bot-link-chip" href="/events/">events</a>
<a class="bot-link-chip is-primary" href="/tags/">tag cloud</a>
<a class="bot-link-chip is-primary" href="/tags/3d/">3D cloud</a>
<a class="bot-link-chip" href="/geo/">geo globe</a>
<a class="bot-link-chip" href="/path/map/">path map</a>
<a class="bot-link-chip" href="/static-app/">react UI</a>
<a class="bot-link-chip" href="/screenshots/">screenshot</a>
<a class="bot-link-chip" href="/tags/phrases/">phrases</a>
<a class="bot-link-chip" href="/tags/sentiment-vortex/">sentiment vortex</a>
<a class="bot-link-chip" href="/tags/constellation/">constellation</a>
<a class="bot-link-chip" href="/tags/vectorfield/">vector field</a>
<a class="bot-link-chip" href="/tags/vectorfield-3d/">vector 3D</a>
<a class="bot-link-chip" href="/tags/chaos-attractor/">chaos</a>
<a class="bot-link-chip" href="/semantic/">semantic</a>
